body{
	color: #414141;/* dark grey */
	background-color: #eeeeee;
	font-size: 18px;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.6em;
}

h1, h2 {
  font-family: "Helvetica", "Arial", sans-serif;
}
ul
{
  list-style-type: circle;
}

ol
{
  list-style-type: number;
}
a
{
	text-decoration: none;
}
p
{
	text-align:left;
}